/* CSS PADRÃO TODAS PÁGINAS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Scada", sans-serif;
    font-weight: 400;

    font-size: 16px;
    line-height: 1.5;
    background-color: #F1E9E4;
}

header, footer {
    background-color: #3E4533;
    color: #FFFFFF;
    font-size: 1.5625em;
    padding-top: 0.9375em ;
}

header, footer {
    span, li, img {
        cursor: pointer;
    }
}

/* HEADER */

.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div_busca {
    display: flex;
    align-items: center;
    width: 30%;
    height: 1.8em;
    border-radius: 0.9375em;
    background-color: #fff;
}
  
 
.div_busca input {
    width: 100%;
    border: none;
    border-radius: 1.25em;
    outline: none;
    padding: 0 0.62em;
    color: #333;
} 

.div_busca img {
    height: 1.2em;
    margin-right: 0.62em;
}

.logo_principal {
    height: 170px;
}

.nav_header_2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.opcoes_nav {
    display: flex;
    gap: 2em;
    list-style: none;
}

.icons_nav {
    display: flex;
    gap: 1em;
}

.icons_nav #img_perfil {
    width: 1.4em;
}

.icons_nav #img_sino {
  width: 1.2em;
}

.icons_nav #img_cart {
    width: 1.5em;
}

/*MODAIS DE LOGIN*/

.fundo-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.modal{
    width: 55%;
    height: auto;
    margin-top: 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.legenda{
    padding: 2%;
    visibility: v;
    color: #FFFFFF;
}

.box-modal{
    width: 100%;
    text-align: center;
    background-color: #DDD6D2;
    border-radius: 10px;
}

.box-modal h3{
    font-weight: normal;
    color: #0F270F;
    margin:  0;
}

.text-modal{
    color: #000000;
    margin-bottom: 2%;
}

.img-fechar{
    width: 35px;
    height: 35px;
    float: right;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

.clear{
    clear: both;
}

.img-google{
    width: 253px;
    margin: 2% 0;
    cursor: pointer;
}

.input-login{
    width: 384px;
    height: 35px;
    margin-bottom: 1%;
    border-radius: 6px;
    padding-left: 2%;
    border: none;
    color: black;
}

.link-ajuda{
    width: 75%;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.text-red{
    color: #9B2D25;
    cursor: pointer;
}

.text-gray{
    color: gray;
    cursor: pointer;
}

.box-modal input[type='button']{
    width: 119px;
    height: 35px;
    background-color: #3E4533;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 17px;
    margin: 2% 0;
}

/* FOOTER */

footer {
    left: 0;
    right: 0;

    text-align: center;
    font-style: normal;
}

footer > div {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
}

footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .left div {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.62em;
}

footer .right img {
    margin: 0.31em 1.25em 0;
}

footer .margin_top {
    margin-top: 1.2em;
}


@media (min-width: 1500px) {
    body {
        font-size: 18px;
    }
}