#titulo_roteiros {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.card_roteiro {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 4px solid #FFFF;
    background-color: #FFFF;
}

.card_roteiro img {
    height: 100%;
    width: 100%;
}
  
.card_roteiro p {
    margin-top: -1.5em;
    background-color: rgba(70, 98, 45, 0.5);
    width: 100%;
    text-align: start;
    padding-left: 0.3em;

    font-weight: 600;
    color: #FFFBFB;
    font-size: 1.3em
}

.card_roteiro div {
    margin-bottom: 0.6em;
}

.card_roteiro > span {
    width: 80%;
    padding: 1em;
}

.bold {
    font-weight: 600;
}

.card_roteiro div > img{
    height: 1.8em;
    width: 2em;
}

.info_card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 1em;
    font-size: 1.2em;
}

