#titulo_roteiros {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.card_roteiro {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 4px solid #FFFF;
    background-color: #FFFF;
}

.card_roteiro img {
    height: 100%;
    width: 100%;
}
  
.card_roteiro p {
    margin-top: -1.5em;
    background-color: rgba(70, 98, 45, 0.5);
    width: 100%;
    text-align: start;
    padding-left: 0.3em;

    font-weight: 600;
    color: #FFFBFB;
    font-size: 1.3em
}

.card_roteiro div {
    margin-bottom: 0.6em;
}

.card_roteiro > span {
    width: 80%;
    padding: 1em;
}

.bold {
    font-weight: 600;
}

.card_roteiro div > img{
    height: 1.8em;
    width: 2em;
}

.info_card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 1em;
    font-size: 1.2em;
}

.btn_ver_mais {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.btn_ver_mais button {
    padding: 0.8em;
    border-radius: 2em;
    border: 0;
    background-color: #3E4533;
    width: 8em;
    color: #FFFFFF;
    font-size: 1.1em;
    cursor: pointer;
}

.avaliacao_clientes {
    display: flex;
    flex-direction: column;
    margin: 20px 20%;
    background-color: #FFFFFF;
    gap: 30px;
}

.avaliacao_clientes #titulo_avaliacao {
    background-color: #0F270F;
    color: #FFFBFB;
    border-radius: 0 0 40px 0;
    padding: 8px 20px;
    width: 40%;

    font-size: 1.1em;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
}

.autor_avaliacao {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 20px;
}

.circulo_img img {
    height: 100%;
    width: 100%;
}

#img_avaliador {
    height: 150px;
    width: 200px;
}

.avaliacao_clientes #compre_conosco {
    text-align: center;
    border-radius: 30px 30px 0 0;
    width: 30%;
    margin-left: 35%;
    background-color: #0F270F;
    padding: 10px 5px;

    color: #F1E9E4;
}