@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;  
}

body {
    font-size: 10px;
    background-color: #F1E9E4;
    width: 100%;
    font-family: "Scada", sans-serif;
    margin: auto;
}


.opcoes_nav li{
    color:#FFFFFF;
}

.opcoes_nav li:hover {
    color: #0F270F;
}

.nav_header span{
    color: #FFFFFF;
}

.nav_header span:hover {
    color: #0F270F;
}

a {
    text-decoration: none;
}


main {
    font-size: 2.3em;
}

.buttons {
    cursor: pointer;
}

.buttons a{
    text-decoration: none;
}

.buttons a:hover {
    color: #0F270F;
}

header {
    padding: 2em 2em 0.1em 2em;
    font-size: 2.3em;
    background-color: #3E4533;
}


.header-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1em;
}



.div_busca {
    display: flex;
    align-items: center;
    width: 30%;
    height: 1.8em;
    border-radius: 0.9375em;
    background-color: #fff;
}

.div_busca input {
    width: 100%;
    border: none;
    border-radius: 1.25em;
    outline: none;
    padding: 0 0.62em;
    color: #333;
} 

.div_busca img {
    height: 1.2em;
    margin-right: 0.62em;
}


#input-text:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}


::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.nav_header_2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.opcoes_nav {
    display: flex;
    gap: 2em;
    list-style: none;
}

.icons_nav {
    display: flex;
    gap: 1em;
}

hr {
    border: none;
    border-top: 1px solid #0f270fbe;
    height: 1px;
    width: 100%;
    margin: 2em auto;
}

.breadcrumbs {
    color: #0F270F;
}

.breadcrumbs span {
    color: #859479;
}

.info-breadcrumbs {
    padding-left: 2em;
    padding-top: 1em;
}

.titulo-font-marcellus {
    font-family: 'Marcellus SC', serif;
    margin-bottom: 50px;
    color: #0F270F;
    border-left: 5px solid #859479;
    padding-left: 10px;
    margin-top: 15px;
}

.icons-nav {
    display: flex;
    gap: 2em;
}

.icons-nav #img_perfil {
    width: 1.4em;
}

.icons-nav #img_sino {
  width: 1.2em;
}

.icons-nav #img_cart {
    width: 1.5em;
}

.container {
    display: flex;
    margin: 1em 1.5em;
    font-size: 22px;
}

.container section {
    background-color: #FFFAF7;
    margin: 0.4em;

}

main span, h4, h5 {
    color: #000000;
}

#perfil {
    padding: 1em;
}

#perfil-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#perfil-top img {
    width: 10rem;
}

#perfil-center {
    display: flex;
    flex-direction: column;
}

#perfil-center span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}

#perfil-center span img {
    width: 25px;
    display: flex;
}

#perfil-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    cursor: pointer;
}

#gerenciamento-roteiros {
    width: 90%;
}

.ver-mais {
    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 0.7em;
    margin-top: 0.4rem;
}

.ver-mais img {
    width: 1%;
    margin-left: 1%;
}

#gerenciamento-roteiros {
    grid-area: GerenciamentodeRoteiros; 
    padding: 0.4em 0.7em;
    width: 30em;
}


#gerenciamento-roteiros h3 {
    margin-bottom: 0.8em;
    color: #000000;
}

#gerenciamento-roteiros #row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#gerenciamento-roteiros #row-2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gerenciamento-roteiros #row-2 img{
    width: 2em;
}

#gerenciamento-roteiros #itens {
    background-color: rgba(133, 148, 121, 0.212);
    padding: 0.5em 0.8em;
    box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

#gerenciamento-roteiros aside {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    position: static;
}

#gerenciamento-roteiros aside span {
    font-size: 0.8em;
    margin-top: 0;
    margin-right: 50px;
    position: static;
}

#gerenciamento-roteiros aside img {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#gerenciamento-roteiros #itens aside span img {
    width: 10%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

#itens aside h6 {
    color: #000000;
}

#itens {
    display: flex;
    align-items: flex-start;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.img-wrapper {
    width: 100%;
    height: auto;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#button-visualizar h4,
#button-editar h4 {
    margin-top: 0.5em;
}

/*
#itens aside span{
    font-size: 0.8em;
    display: flex;
    align-items: left;
}
*/
/*
#itens aside img {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}
*/
/*
#itens aside span{
    font-size: 0.8em;
    flex-direction: column;
}

#itens aside h5 {
    color: #FFFFFF;
    background-color: #46622D;
    display: flex;
    flex-direction: column;
}
*/   

.container-2 {
    display: grid;
    grid-template-areas: "GerenciametodeRoteiros AdicionarRoteiro"
                        "GerenciamentodeRoteiros RoteirosCatalogados"
                        "ServicosParceiros ServicosParceiros";
}

#gerenciamento-roteiros {
    grid-area: GerenciamentodeRoteiros;
}

#roteiros-catalogados {
    grid-area: RoteirosCatalogados;
}

#roteiros-catalogados {
    grid-area: GerenciamentodeRoteiros;
    padding: 0.4em 0.7em;
    width: 47%;
}

#roteiros-catalogados div {
    display: flex;
    margin-top: 1rem;
    gap: 1em;
    font-size: 14px;
}

#roteiros-catalogados h3 {
    color: #000000;
}

#roteiros-catalogados h4 {
    background-color: #859479;
}

#roteiros-catalogados div li {
    display: flex;
    flex-direction: column;
    color: #000000;

}

#roteiros-catalogados div img {
    width: 8rem;
    height: 8rem;
}


#button-visualizar h4, #button-editar h4 {
    background-color: #3E4533;
    font-family: 'Scada', 'sans-serif';
    color: #FFFFFF;
    text-align: center;
    border-radius: 2em;
    height: 20px;
    cursor: pointer;
    border: none;
    margin: 1em 0;
    margin-left: 1em;
    padding: 0.3em;

    
}

#button-adicionar-roteiro {
    all: unset;
    
    background-color: #000000;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;

    border-radius: 2em;

    padding: 0.3rem;

    grid-area: AdicionarRoteiro;
    
    width: 47%;
}

#button-adicionar-roteiro h3 {
    color: #FFFFFF;
    font-weight: lighter;
    margin-left: 5%;

}

.box-produtos{
    display: flex;
    flex-direction: column;
    /*padding-left: 2em;*/
    height: 36vh;
    width: 73%;
    height: 1770px;
 
}

.box-servicos-parceiros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-produtos span, .box-produtos p, .box-produtos h4{
    color: #0F270F;

}
.box-produtos h3, .box-produtos h4{
    font-weight: normal;

}

.box-titulo h3{
    font-family: 'Scada', 'sans-serif';;
    font-size: 35px;
    color: #0F270F;
    padding-left: 1.7em;
    margin-bottom: 0.5em;
}

.box-titulo{
    margin-top: 1em;
}

.box-demonstracao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    width: 33%;
}

.box-info-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-info-produtos p{
    margin-top: -1.5em;
    background-color: rgba(70, 98, 45, 0.5);
    width: 100%;
    text-align: start;
    padding-left: 0.3em;

    font-weight: 600;
    color: #FFFBFB;
    font-size: 1.3em
}

.box-info-produtos{
    width: 90%;
    background-color: #F3F4F9;
}




.text-info{
    display: flex;
    justify-content: space-between;
}

.caixa-texto{
    display: flex;
    justify-content: space-between;
    
    padding: 0.5em 0.8em;
    background-color: #859479;
    margin-top: 1em;
}

.caixa-texto h4{
    color: #000000;
}

.caixa-texto span{
    cursor: pointer;
    color: #FFFFFF;
}

.caixa-texto span:hover{
    color: #FFFBFB;
}

.text-info span{
    font-size: 14px;
    margin: 1em 0;
}

p{
    margin-bottom: 2em;
    margin-top: 0;
    font-size: 10px;
}


#servicos-parceiros {
    grid-area: ServicosParceiros;
}


#servicos-parceiros div {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.ver-mais-branco, img{
    color: #FFFFFF;
    right: 20px;
}

#servicos-parceiros h4 {
    margin-bottom: 1rem;
}

#servicos-parceiros div img {
    width: 10rem;
}

#produtos-estoque hr {
    margin: 2rem auto !important;
}

#servicos-parceiros div span {
    background-color: #859479;
  
    background-position: 10px;
    gap: 4rem;

}

.ver-mais-branco span {
    background-color:  #FFFFFF;
    
}


#servicos-parceiros div figure figcaption {
    font-size: 0.8em;
    background-color: #000000;
    text-align: left;
    background-position: 10px;
    margin-top: -6px; 
}

.box-fora {
    background-color: 0;
}

#button-saiba-mais h4{
    background-color: #3E4533;
    margin: 1%;
    padding: 0.2rem;
    border-radius: 2em;
    border-color: rgba(133, 148, 121, 0.212);
    width: 30%;
    align-items: center;
    color: #FFFFFF;


}

#servicos-parceiros span img { /* figuras do título */
    width: 9%;
}

#servicos-parceiros figure img { /* figuras do texto*/
    width: 8%;
    margin-top: 3px;
    
}

#servicos-parceiros hr {
    margin: 2rem auto !important;
    
}

footer li {
    color: #FFFAF7;
}



/* FOOTER */

footer {
    left: 0;
    right: 0;

    text-align: center;
    font-style: normal;
    padding: 2em 2em 0.1em 2em;
    font-size: 2.3em;
    background-color: #3E4533;
}

footer > div {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
}

footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .left div {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.62em;
}

footer .right img {
    margin: 0.31em 1.25em 0;
}

footer .margin_top {
    margin-top: 1.2em;
}


@media (min-width: 1500px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1335px) {

    .container {
        font-size: 16px;
    }

    .container-1 {
        justify-content: flex-start;
    }

    .breadcrumbs {
        font-size: 16px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
    }

    #button-adicionar-roteiro {
        margin: 2%;
        width: 40%;
    }

    #roteiros-catalogados, #servicos-parceiros {
        width: 90%;
    }
}

@media screen and (max-width: 830px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    #perfil {
        width: 90%;
    }

    #perfil-responsivo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 499px) {
    .container-1 {
        display: block;
    }
}